body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header{
  background: #272734;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #2865bb 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #2865bb;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;

}

/* Showcase */
#showcase{
  min-height: 400px;
  background:url("../img/unknown.png") no-repeat 0 -10px;
  text-align: center;
  color: #fffffflo;
  background-size: cover

}

#showcase h1{
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

/* Boxes */

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 90px;
  height: 85px;
}

footer{
  padding: 20px;
  margin-top: 83px;
  color: #ffffff;
  background-color: #272734;
  text-align: center;
}
