body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.forms{
    padding: 1%;
    margin: auto;
}

.forms #submit{
    padding: 8px;
    margin-top: 10px;
    border: 0;
    color: #ffffff;
    background-color: #2865bb;
    padding: 10px;
    margin-right: 100%;

}

.forms #reset {
    padding: 8px;
    margin-top: 10px;
    border: 0;
    color: #ffffff;
    background-color: #2865bb;
    padding: 10px;
    margin-right: 100%;

}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#showcase h3.Login {
    font-size: 40px;
    text-align: center;
}

header{
    background: #272734;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2865bb 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
    margin-right: 30px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #2865bb;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;

}

#showcase a{
    color: #2865bb;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

#showcase a:hover {
    color: #2865bb;
    font-weight: bolder;
}





.form {
    padding: 5px;
    text-align: center;
}

.form div {
    margin-top: 17px;
    margin-bottom: 17px;
}

.form h3 {
    color: #ffffff;
    text-align: center;
}



/* Showcase */
#showcase{
    min-height: 400px;
    text-align: center;
    color: black;
    background-size: auto;

}

#showcase .form #submit {
    padding: 8px;
    margin-top: 10px;
    border: 0;
    color: #ffffff;
    background-color: #2865bb;
    padding: 10px;
    align-self: center;

}

#showcase .form #reset {
    padding: 8px;
    margin-top: 10px;
    border: 0;
    color: #ffffff;
    background-color: #2865bb;
    padding: 10px;
    align-self: center;

}


#showcase h1{
    margin-top: 50px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase h1.search{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

#showcase p.innlogging {
    font-size: 20px;
}

#showcase table.center{
    margin-left:auto;
    margin-right:auto;
    border: 3px solid #2865bb;
    border-collapse: collapse;
}

#showcase th, td {
    border: 3px solid #2865bb;
}




